.media {

    &__backdrop {
        height: 90vh;
    }

    &__info {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        color: #fff;
    }

    &__title {
        margin:0;
    }

    &__tagline {
        margin:0;
    }

    &__rating {
        margin:0;
    }

    &__seasons {
        margin:0;
    }

    &__status {
        margin:0;
    }


}