.media {

    &__poster {
        max-width: 250px;
        margin-bottom: 30px;
    }

    &__info {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        color: #fff;
    }

    &__title {
        margin:0;
    }

    &__tagline {
        margin:0;
    }

    &__rating {
        margin:0;
    }

    &__seasons {
        margin:0;
    }

    &__status {
        margin:0;
    }


}

.media-backdrop {

    position: relative;
    overflow: hidden;
    height: 90vh;

    &__image, &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__image {

        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: blur(8px);
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -o-filter: blur(8px);
        -ms-filter: blur(8px);
    }

    &__overlay {}

}