<!-- views/pages/error.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

	<div style="background-color:rgba(255,255,255,.7);width: 40%;padding:2rem;">
	    <img src="http://www.reactiongifs.com/r/2013/02/nope.gif" alt=""/>
    </div>

</body>
</html>