<!-- views/pages/popular.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <ul style="list-style-type:none; padding-left:0;">
        <% for(var i in genres) { %>
            <li>
                <a href="/discover?genres=<%= genres[i].id %>">
                    <%= genres[i].name %>
                </a>
            </li>
        <% } %>
    </ul>

</body>
</html>