<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body style="background: url('<%= opts.getResourceUrl(movie.backdrop_path) %>') no-repeat;">

	<div style="background-color:rgba(255,255,255,.7);width: 40%;padding:2rem;">
    <h1>Dem Movies</h1>

    <h2><%= movie.title %></h2>

    <h2><%= movie.tagline %></h2>
    </div>

</body>
</html>