<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <h1>Dem Movies</h1>

    <h2><%= movie[0].title %></h2>

    <h2><%= movie[0].tagline %></h2>

</body>
</html>