<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <!-- so:movie -->
    <div class="movie">

        <!-- so:movie__backdrop -->
        <div class="movie__backdrop" style="background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('<%= helper.getResourceUrl(movie.backdrop_path) %>') 50% 50% / cover;">

            <!-- so:movie__info -->
            <div class="movie__info">
                <h3><%= movie.title %></h3>
                <p><%= movie.tagline %></p>
            </div>
            <!-- eo:movie__info -->

        </div>
        <!-- eo:movie__backdrop -->

    </div>
    <!-- so:movie -->

</body>
</html>